R/tinycodet_help.R -linguist-documentation
R/tinycodet_safer.R -linguist-documentation
R/tinycodet_import.R -linguist-documentation
R/tinycodet_strings.R -linguist-documentation
R/tinycodet_dry.R -linguist-documentation
R/tinycodet_misc.R -linguist-documentation
R/tinycodetWrappers.R -linguist-documentation
R/bin.R -linguist-documentation
R/meta_functions.R -linguist-documentation
docs/** linguist-documentation
vignettes/** linguist-documentation
man/** linguist-documentation
fake_packages/** linguist-vendored
inst/** linguist-vendored
